.article-content div {
  font-size: 16px !important;
}
.article-content h1 {
  font-weight: 500;
  font-size: 24px !important;
  color: #272d37;
  padding-bottom: 0.5rem;
}
.article-content h2 {
  font-weight: 500;
  font-size: 20px !important;
  color: #272d37;
  padding-bottom: 1.5rem;
}
